@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700;900&display=swap");
@media screen and (min-width: 992pw) {}

                                                           /*HEADER */

body {
  font-family: "raleway", sans-serif;
  color: black;
  padding: 20px;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;

}

.headerh3 {

margin-left: 20px;
}

.p1 {
  font-size: 13.75px;
  margin-left: 25px;
  

}

img {
  max-width: 100%;
  max-height: 100%;
  

}

.logo { 
  width: 100px;
  height: 75px;
  margin-right: 40px;

}

.nav{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-right: 50px;
  width: 250px;
  height: 75px;
  
  
}

nav a:hover {
  border-top: 2px solid #0065FC; 
  color: #0065FC;

  

}

nav a {
 margin-left: 40px;
 padding-top: 54px;
 line-height: 0;
 
}

.hebergements {
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;


}

.activites {
  margin-right: 25px;
}






                                                         /* CHAMP DE RECHERCHE */



form {
  display: flex;
  margin-left: 20px;
  width: 110%;
}

.fa-location-dot {  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2%;
  object-fit: cover;
  background-color: #F2F2F2;
  border-radius: 8px;
  
}

.button {
  
  background-color: #0065FC;
  color: white;
  border-radius: 0px 9px 9px 0px ;
  height: 45px;
  border-color: #0065FC;

}

.input {

  width: 10%;
  height: 45px;
 

}

::placeholder { 
  color: black;
  font-weight: bold;

}

                                                            /* FILTRES DE RECHERCHES */

.h4filter {
  
  padding-right: 10px;
  
}

.filtres {
  display: flex;
  flex-wrap: nowrap;
  
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 0px;

}


.eco {
  border: solid 1px #DEEBFF;
  border-radius: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  margin-left: 35px;

}

.eco:hover {
  color: #0065FC
}

.fa-money-bill-wave {

  color: #0065FC;
  border: solid 1px #DEEBFF;
  padding: 10px 10px 10px 10px;
  background-color: #DEEBFF;
  border-radius: 50%;

}

.fam {
  margin-left: 30px;
  border:  solid 1px #DEEBFF;
  border-radius: 20px;
  padding: 8px 8px 8px 0px
  
}

.fam:hover {
  color: #0065FC;
}

.fa-child-reaching {
  color: #0065FC;
  border: solid 1px #DEEBFF;
  background-color: #DEEBFF;
  border-radius: 50%;
  padding: 8px 8px 8px 8px;
  
}

.rom {
  border: solid 1px #DEEBFF;
  border-radius: 20px;
  margin-left: 20px;
  padding: 8px 8px 8px 0px;
  
}

.rom:hover {
  color: #0065FC;
}

.fa-heart { 
  color: #0065FC;
  border: solid 1px #DEEBFF;
  border-radius: 50%;
  background-color: #DEEBFF;
  padding: 8px 8px 8px 8px;

}

.pet {
  margin-left: 20px;
  border: solid 1px #DEEBFF;
  border-radius: 20px; 
  padding: 8px 8px 8px 0px
}

.pet:hover {
  color: #0065FC;
}

.fa-dog {
  color: #0065FC;
  border: solid 1px #DEEBFF;
  border-radius: 50%; 
  background-color: #DEEBFF;
  padding: 8px 8px 8px 8px;
  
}

.fa-circle-info {
  display: flex;
  color: #0065FC;

}

.infobox {
  display: flex;
  padding-top: 25px;
}


                                                            /*MAIN SECTION*/


.container {
  width: 100%;
  background-color: #F2F2F2;

  
}                   


.mainsec1 {
display: flex;
width: 70%;
margin-top: 50px;
margin-bottom: 10px;
margin-left: 20px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 40px;
border: solid black 0px;
background-color: #F2F2F2;
border-radius: 20px;

}

.card {
  width: 12.5%;
  border: solid 5px #0065FC;
  margin-left: 35px;
  
}

.card-image {
  border-radius: 10px 10px 10px 10px;
  
 
  
}

.card-text {
  margin-left: 10px;

}

.card-icon {
  margin-left: 10px;
  color: grey;
}

.card-icon:hover {
  color: #0065FC;
  animation-fill-mode: forwards;
  animation-play-state: running;
}